<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkBYV1hpIiNdy6pVP37wq2KUjEobGKKRY</string>
	<key>GCM_SENDER_ID</key>
	<string>13624263442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.preperFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>prepper-b9e43</string>
	<key>STORAGE_BUCKET</key>
	<string>prepper-b9e43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13624263442:ios:1fe49525c430ac443ba9cb</string>
</dict>
</plist>